<div class="prose mx-auto mt-10">
  <h1 class="text-2xl font-bold">Bienvenue</h1>
  <p>
    <%= link_to "Sign up", new_user_registration_path, class: "underline" %> ·
    <%= link_to "Log in", new_user_session_path, class: "underline" %>
  </p>
</div>
