<% content_for :page_title, t("Edit Career") %>

<div class="bg-white rounded shadow p-4">
  <%= render "form", career: @career %>
</div>

<div class="mt-8">
  <%= render "shared/version_history", versions: @career.versions.reverse_chronological %>
</div>

