<%# app/views/admin/trajectories/edit.html.erb %>
<% content_for :page_title, t("Edit Trajectory") %>

<%= render "shared/page_header", 
    title: "Modifier : #{@trajectory.career.title}",
    subtitle: "Mettre à jour les informations de la trajectoire",
    action_text: "Retour aux trajectoires",
    action_url: admin_trajectories_path,
    action_icon: "arrow-left" %>

<div class="bg-white rounded shadow p-4">
  <%= render "form", trajectory: @trajectory %>
</div>

<div class="mt-8">
  <%= render "shared/version_history", versions: @trajectory.versions.reverse_chronological %>
</div>
